MYSQL_ROOT_PASSWORD=your_mysql_root_password
MYSQL_DATABASE=hospital_db

DB_HOST=mysql
DB_USER=your_db_user
DB_PASSWORD=your_db_password
DB_NAME=hospital_db
DB_PORT=3306

PORT=4000
JWT_SECRET=your_jwt_secret

CHATBOT_API_URL=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash-preview-09-2025:generateContent
CHATBOT_API_KEY=your_chatbot_api_key
CHATBOT_MODEL=gemini-2.5-flash-preview-09-2025
